<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/photos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>
        <%= title %>
    </title>
    <%-include("../header.ejs")%>
    </header>
</head>
<body>
    <main>
        <div class="panel">
            <section class="left-panel">
                <div class="panel-options">
                    <div class="post-tag">
                        <a href="#"><i class="fas fa-sticky-note"><span> Posts</span></i></a>
                    </div>
                    <div class="photo-tag">
                        <a href="wall/photos"><i class="fas fa-camera-retro"></i><span> Photos</span></a>
                    </div>
                    <div class="video-tag">
                        <a href="#"><i class="fas fa-video"></i><span> Videos</span></a>
                    </div>
                    <!-- <div class="panel-options">
                    
                    </div> -->
                </div>
            </section>
        </div>
        <picture>
            <ul>
                <li>
                    <a class="list-item" href="#" target="_blank">
                        <img src="/images/pic.png" alt="image1"/>
                    </a>
                    <!--<div class="sb-description">
                        <h3>Room</h3>
                    </div>-->
                </li>
                <li>
                    <a class="list-item" href="#" target="_blank">
                        <img src="/images/nature.jpeg" alt="image2"/>
                    </a>
                    <!--<div class="sb-description">
                        <h3>Nature</h3>
                    </div>-->
                </li>
                <li>
                    <a class="list-item" href="#" target="_blank">
                        <img src="/images/horse.jpeg" alt="image1"/>
                    </a>
                    <!--<div class="sb-description">
                        <h3>Horse</h3>
                    </div>-->
                </li>
            </ul>
        </picture>
    </main>
    <%-include("../footer.ejs")%>
</body>
<script src="/js/photo_posts.js"></script>
<script>
    const head = document.getElementById("head");
    const foot = document.getElementById("footer");
    (function headFoot(){
    foot.classList.add("footer");
    head.classList.add("header");  
    return headFoot;  
    }());
</script>
</html>