@import "_mixings";
@import "_variables";
body{
    margin: 0px;
    padding: 0px;
}

main{
    @include flex-center($column);
    height: 100%;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(187,149,166,1) 0%, rgba(148,187,233,1) 100%);
    .panel{   
    
        .left-panel{
            position: absolute;
            width: 240px;
            height: 100%;
            margin-top: 3.8rem;
            margin-left: -60rem;
            background-color: aqua;
            opacity: 60%;
            .panel-options{
                @include flex-center($column);
                flex-direction: $column;
                margin-top: 100px;
                height: 100px;
                width: inherit;
                background-color: aquamarine;
                font-size: 20px;
                a{
                    text-decoration: none;
                
                }
                span{
                    margin-left: 120px;
                    font-family: monospace;
                }
                .post-tag{
                    span{
                        margin-left: 130px;
                    }
                    text-align: center;
                    width: inherit;
                    margin: 5px;
                    font-weight: 900;
                    &:hover{
                        background-color: lightskyblue;
                    }
                    &:active::after{
                        content: ">";
                    }
                }
                .photo-tag{
                    text-align: center;
                    width: inherit;
                    margin: 5px;
                    font-weight: 900;
                    &:hover{
                        background-color: lightskyblue;
                    }
                    &:active::after{
                        content: ">";
                    }
                }
                .video-tag{
                    text-align: center;
                    width: inherit;
                    margin: 5px;
                    font-weight: 900;
                    &:hover{
                        background-color: lightskyblue;
                    }
                    &:active::after{
                        content: ">";
                    }
                }
            }
        }
    }
    picture{
        height: auto;
        width: 30em;
        margin: 10vw;
        border: 2px solid #f01cf042;
        ul {
            position: relative;
            transform: rotate(-35deg) skew(20deg,5deg);
          }
          
        .list-item {
            background: #000;
            color: #575757;
            text-align: center;
            height: 2.5em;
            width: 4em;
            line-height: 2.5em;
            border-bottom: 1px solid #060606;
            position: relative;
            display: block;
            text-decoration: none;
            box-shadow: -2em 1.5em 0 #e1e1e1;
            transition: all .25s linear;
            &:hover {
              background: #ff6e42;
              color: #fffcfb;
              transform: translate(.8em, -.8em);
              transition: all .25s linear;
              box-shadow: -2em 2em 0 #e1e1e1;
              
              &:before, 
              &:after { 
                transition: all .25s linear; 
              }
              
              &:before {
                background: #b65234;
                width: 1em;
                top: .5em;
                left: -1em;
              }
              
              &:after {
                background: #b65234;
                width: 1em;
                bottom: -2.5em;
                left: 1em;
                height: 4em;
              }
            }
            
            &:before, 
            &:after {
              content: '';
              position: absolute;
              transition: all .25s linear;
              width: .5em;
            }
          
            &:after {
              height: 4em;
              background: #181818;
              bottom: -2.25em;
              left: 1.5em;
              transform: rotate(90deg) skew(0,45deg);
            }
            
            &:before {
              height: 2.5em;
              background: #121212;
              top: .25em;
              left: -.5em;
              transform: skewY(-45deg);
            }
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}