@import "_panel_right";
@import "_panel_left";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100&display=swap");
.main-page{
    display: flex;
    flex-direction: $row;
    color: light;
    background: linear-gradient(50deg, lightgrey, rgb(135,201,240));
}
.main-wall{
    margin-top: 100px;
    margin-left: 50px;
    width: 60vw;
    .new-post-container{
        @include flex-center($column);
        flex-direction: $column;
        height: 20vh;
        width: 109vh;
        margin-top: 5px;
        margin-left: 55px;
        //  background-color: aqua;
        form{
            height: 100%;
            width: 100%;
            .new-post{
                @include flex-center($column);
                background-color: rgb(223, 194, 250);
                height: 80%;
                width: inherit;
                textarea{
                    font-family: $fontMplus;
                    font-weight: 900;
                    height: 98.4%;
                    width: inherit;
                    border: 0px;
                    box-sizing: border-box;
                    outline: none;
                    resize: none;
                    font-size: 20px;
                    background:linear-gradient(50deg, lightgrey, rgb(135,201,240));
                }
            }

        }
        .post-custom{
            display: flex;
            // border: 2px solid violet;
            margin-top: -18px;
            height: 50px;
            width: inherit;
            background-color: rgb(238, 225, 250);
            .new-post-icons{
                display: flex;
                // border: 1px solid black;
                width: 50%;
                
                i{
                    font-size: 30px;
                    margin: 10px 10px 10px 5px;
                    &:hover{
                        color: blueviolet;
                    }
                }
            }
            .post-btn{
                margin-left: 75%;
                width: 10%;
                height: 50px;
                // background-color: rgb(45, 169, 246);
                font-weight: 900;
                text-align: center;
                color: white;
                // border:1px solid black;
                // border-radius: 20px;
                button{
                    background-color: transparent;
                    border: 0px;
                    span{
                        margin-top: 5px;
                        font-size: 40px;
                        color: #000;
                        &:hover{
                            transition: all 0.4s;
                            color: blueviolet;
                        }
                    }
                }
                
                // span{
                //     font-family: $fontMplus;
                //     font-weight: 900;
                // }
            }
        }
    }
    .float{
        position: fixed;
        right: 50;
        bottom: 70;
    }
    .floating-btn{
        font-size: 40px;
        color: white;
        height:60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid rgb(130, 186, 238);
        background:linear-gradient(0deg, lightgrey, rgb(135,201,240));
        &:hover{
            opacity: 70%;
            background-color: lightskyblue;
        }
    }
    .main-post-container{
            // border: 1px solid black;
            display: flex;
            flex-direction: $column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
                .posts-main{
                // border: 1px solid black;
                display: flex;
                flex-direction: $column;
                height: auto;
                width: 55vw;
                margin-top: 50px;
                margin-left:30px;
                margin-bottom: 100px;
                .comment-details{
                    display: flex;
                    flex-direction: $column;
                    // border: 1px solid black;
                    height: auto;
                    width: auto;
                    background: linear-gradient(20deg, lightgrey, rgb(135,201,240));
                    .comment-user-details{
                        display: flex;
                        flex-direction: $row;
                        .delete-comment{
                            position: absolute;
                            height: 30px;
                            width: 30px;
                            margin-left: 49.5vw;
                            margin-top: 5px;
                            &:hover{
                                i{
                                    transition: all ease-in-out 0.5s;
                                    color: red;
                                    cursor: default;
                                }
                            }
                            i{
                                font-size: 25px;
                                color: 	brown;
                            }
                        }
                        .comment-avatar{
                            height: 70px;
                            width: 70px;
                            img{
                                border-radius: 50%;
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .comment-details-container{
                            display: flex;
                            flex-direction: $column;
                            margin-left: 10px;
                            width: auto;
                            .comment-name{
                                // border: 1px solid black;
                                height: 25px;
                                width: auto;
                                p
                                {   
                                    margin-top: 1px;
                                    font-family: $fontMplus;
                                    font-weight: 700;
                                }
                            }
                            .comment-post{
                                height: auto;
                                width: auto;
                                margin-left: 5px;
                                // border: 1px solid black;
                                p
                                {   
                                    margin-top: 0px;
                                    font-family: $fontMplus;
                                    font-weight: 500;
                                }
                            }
                            .comment-options{
                                // border: 1px solid black;
                                margin-left: 35vw;
                                i{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                    
                    margin-top: 100px;
                }
                .comment{
                    margin-top: 370px;
                    margin-left: 40px;
                    margin-bottom: 50px;
                    height:auto;
                    width: 100vh;
                    // box-shadow: 10px 10px 10px 10px slategray;
                    // border: 1px solid black;
                    // 
                    // background:linear-gradient(80deg, lightgrey, rgb(135,201,240));                            
                    .comment-container{
                        @include flex-center($column);
                        flex-direction: $column;
                        height: 15vh;
                        width: inherit;
                        margin-top: 10px;
                         border: 1px solid black;
                        //  background-color: aqua;
                        form{
                            height: 100%;
                            width: 100%;
                            .new-comment{
                                @include flex-center($column);
                                // border: 1px solid black;
                                height: 80%;
                                width: inherit;
                                textarea{
                                    background-color: transparent;
                                    border-radius: 10px;
                                    font-family: $fontMplus;
                                    font-weight: 900;
                                    height: 98.4%;
                                    width: inherit;
                                    border: 0px;
                                    // border: 1px solid black;
                                    box-sizing: border-box;
                                    outline: none;
                                    resize: none;
                                    font-size: 20px;
                                }
                            }
                        }
                        .comment-custom{
                            display: flex;
                            border-radius: 0px 0px 20px 20px;
                            // border: 1px solid black;
                            height: 50px;
                            width: inherit;
                            background-color: rgb(238, 225, 250);
                            .comment-icons{
                                display: flex;
                                // border: 1px solid black;
                                width: 50%;
                                
                                i{
                                    font-size: 30px;
                                    margin: 10px 10px 10px 5px;
                                    &:hover{
                                        color: blueviolet;
                                    }
                                }
                            }
                            .comment-btn{
                                margin-left: 40%;
                                width: 10%;
                                height: 50px;
                                // background-color: rgb(45, 169, 246);
                                font-weight: 900;
                                text-align: center;
                                color: white;
                                // border:1px solid black;
                                // border-radius: 20px;
                                button{
                                    background-color: transparent;
                                    border: 0px;
                                    span{
                                        margin-top: 5px;
                                        font-size: 40px;
                                        color: #000;
                                        &:hover{
                                            transition: all 0.4s;
                                            color: blueviolet;
                                        }
                                    }
                                }
                                
                                // span{
                                //     font-family: $fontMplus;
                                //     font-weight: 900;
                                // }
                            }
                        }
                    }
                }
                .posts-container{
                    box-shadow: 10px 10px 10px 10px slategray;
                    display: flex;
                    flex-direction: $row;
                    height: auto;
                    width: inherit;
                    margin-bottom: 50px;
                    // border: 1px solid black;
                    .post-avatar{
                        position: absolute;
                        // border: 1px solid black;
                        height: 200px;
                        width: 200px;
                        border-radius: 50%;
                        margin-top: 60px;
                        margin-left: 30px;
                        img{
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                        }
                    }
                    .name-post{
                        text-align: center;
                        position: absolute;
                        margin-top: 270px;
                        // border: 1px solid black;
                        height: 40px;
                        width: 300px;
                        margin-left: 2px;
                        a{
                        font-size: 30px;
                        font-family: $fontMplus;
                        font-weight: 900;
                        color: #000;
                        text-decoration: none;
                        text-transform: none;
                        cursor: default;  
                        }
            
                    }
                    .usermail{
                        position: absolute;
                        // border: 1px solid black;
                        height: 20px;
                        width: 300px;
                        text-align: center;
                        font-size: 20px;
                        font-family: $fontMplus;
                        font-weight: 500;
                        margin-top: 310px;
                        margin-left: 2px;
                        p{
                            margin-top: 2px;
                        }
                    }
                    .posts{
                        // border: 1px solid black;
                        position:absolute;
                        height: 250px;
                        width: 36%;
                        margin-top: 50px;
                        margin-left: 345px;
                        overflow:hidden;
                        word-wrap: break-word;
                        p{  
                            text-align: center;
                            font-family: $fontMplus;
                            font-weight: 800;
                            font-size: 24px;
                            
                        }
                    }
                    .delete-post{
                        // border: 1px solid black;
                        position: absolute;
                        height: 30px;
                        width: 30px;
                        margin-left: 53vw;
                        margin-top: 10px;
                        &:hover{
                            i{
                                transition: all ease-in-out 0.5s;
                                color: red;
                                cursor: default;
                            }
                        }
                        i{
                            font-size: 30px;
                            color: 	brown;
                        }
                    }
                    .post-options{
                        // border: 1px solid black;
                        display: flex;
                        flex-direction: $column;
                        position: absolute;
                        height: 200px;
                        width: 110px;
                        margin-top: 70px;
                        margin-left: 230px;
                        text-align: center;
                        i{
                            margin: 10px;
                            font-size: 50px;
                            color: blueviolet;
                        }
                    }
                    
                }
            }    
        }
}

// html{
//     overflow: hidden;
// }